<div class="transactions">
    <div class="title">Last few Bot Created</div>
    <div class="transaction-wrapper">
        
      <div class="transaction" *ngFor="let transaction of transactions">
        <div class="image">
          <img [src]="transaction.email" alt="" />
        </div>
        <div class="title">{{ transaction.botTitle }}</div>
        <div class="price">{{ transaction.fullname }}</div>
        <div class="shop-location">
          <div class="shop">{{ transaction.siteName }}</div>
        </div>
       
      </div>
    </div>
  </div>
  