<div class="container" >
    <div class="card-body">
        <svg (click)="onClose()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x topright" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>

        <h1 class="text-center text-primary  mt-3 display-5" id="pageTitle">Update Profile Informations</h1>
        <div class="d-flex flex-column justify-content-center mt-5">
            <div class="p-2">
                <div class="form-group">
                    <label for="name"> <p>Name</p></label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                         name="fullname"  [(ngModel)]="name">

                </div>
            </div>

            <div class="d-flex flex-column justify-content-center">
                <div class="p-2">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                         name="email" [(ngModel)]="email">

                    </div>
                </div>
            </div>
            <!-- <div class="p-2">
                <div class="form-group">
                    <label for="inlineFormCustomSelect">Gender</label>

                    <select class="form-control" id="inlineFormCustomSelect" (change)="update($event)" >
                        <option value="default" disabled selected>Select...</option>
                        <option *ngFor="let g of genders" [value]="g">
                          {{g}}
                      </option>              
                      </select>
                </div>
            </div> -->
            
            <div class="p-2 mt-5">
                <button type="button" class="btn btn-success btn-block" (click)="updateUser()" [disabled]="!(profile.name != name ||profile.email != email)">Update Informations</button>
            </div>
        </div>
    </div>
</div>