
<div class="container">
    <div class="card-body">
        <h1 class="text-center text-primary mb-5 mt-3 display-5" id="pageTitle">Admin Dashboard</h1>

<div class="container">

    <div class="main-container">
     
      <div class="main">

        <div class="middle-section">
            <div class="widget left">
              <app-users-by-gender></app-users-by-gender>
            </div>
            <div class="widget right">
              <app-chatbot-types-percentage></app-chatbot-types-percentage>
            </div>
          </div>
          <div class="bottom-section">
            <div class="widget left">
              <app-amazon-users-by-gender></app-amazon-users-by-gender>
            </div>
            <div class="widget right">
                <app-tripadvisor-users-by-gender></app-tripadvisor-users-by-gender>
            </div>
          </div><div class="middle-section">
            <div class="widget left ">
              <app-last-few-transaction></app-last-few-transaction>
            </div>
           
          </div>
          
    </div>
    </div>
  </div>
  </div>
  </div>